$font-family-base: 'Red Hat Display',sans-serif;
$font-family-titles: 'Purple Purse', cursive;

$body-color: #151515;

$slate-gray-light: #D3E4EF;
$slate-gray: #7E8FA4;

// Colors
$primary: #E8694D;
$secondary: #030c49; // old-color #132F7A;
$deep-primary: #9c2910; // old-color #CE342A
$light : #EFEFEF;
$white : #fff;
$danger : #db1111;

$theme-colors: (
  danger:#db1111
);

